* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
  .pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
  .pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
  .pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}


/*General*/
.desktop-menu {
    display: none;   
}
.btn {
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
}
section:nth-child(2n) {
    background-color: #9792E4;
}
img {
    width: 100%;
    object-fit: contain;
    display: block;
}
/*AZZURRO SCURO #0084FD */
/*AZZURRO CHIARO #B5DDFF */
/*LILLA #9792E4 */
/*NERO #333333 */

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-item-dec {
    list-style: none;
}
.list-item-dec li a {
    color: white;
    text-decoration: none;
    padding: 4px;
}
/*HEADER*/
header {
    background-color: #0084FD;
}
.mobile-menu > a {
    color: white;
    text-decoration: none;
}
/*MAIN*/

/*SEZIONE1*/

.my-row {
    display: flex;
    flex-wrap: wrap;
}
.my-col {
    padding: 20px;
    width: 100%;
    
}

.info-card {
    background-color: #B5DDFF;
    border-radius: 15px;
    padding: 20px 20px 0;
    text-align: center;   
    
}
.info-card .screen-img {
    margin-top: 30px;
}
.info-card h3 {
    color: #0084FD;
    padding: 15px;
}
.info-card p {
    color: #333333;
    opacity: 0.9;
    font-weight: bold;
    padding: 15px;
    
    line-height: 1.5rem;
}
.info-card a {
    text-decoration: none;
    font-weight: bold;
    
}
.app-store-dwnld {
    color: white;
    background-color: #0084FD;
    padding: 10px 35px;
    letter-spacing: .2rem;
    font-weight: bold;
}
.icon-title {
    padding: 15px 0;
}
.icon-title i {
    color: #0084FD;
    font-size: 5rem;
}
/*SEZIONE2*/

.planning {
    width: 100%;
    padding: 20px;
}
.development {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
.planning h3,
.development h3 {
    color: white;
    font-size: 1.5rem;
    margin: 20px;
}
.planning p,
.development p {
    color: white;
    font-size: 0.9rem;
    line-height: 30px;
    padding: 20px 0;
} 
.development p {
    color: black;
}
.development h3 {
    color: black;
}
.cross-down-btn {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #9792E4;
}
.cross-down-btn i {
    font-size: 1.2rem;
}
/*SEZIONE3*/

/*SEZIONE4*/

/*SEZIONE5*/

/*FOOTER*/

/*TABLET*/
@media screen and (min-width: 576px) {
    .col-2-3-desktop {
        width: calc((100% / 3) * 2);
        padding: 10px;
    }
    
    .col-2-3-desktop {
        width: calc((100% / 3) * 2);
        padding: 10px;
        
    }

    .col-1-3-desktop {
        width: calc(100% / 3);
        padding: 10px;
    }
}
/*DESKTOP*/

@media screen and (min-width: 992px) {
    .desktop-menu {
        display: block;   
    }
    .mobile-menu {
        display: none;
    }
    .flex-desktop {
        display: flex;
        
    }
    

}
